<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobile_base">
	
	<!-- Includes -->
  <xacro:include filename="$(find mobile_base_description)/urdf/properties.urdf.xacro" />
  <xacro:include filename="$(find mobile_base_description)/urdf/mobile_base.urdf.xacro"/>

  <!-- Arguments -->
  <xacro:arg name="wheel_joint_type"  default="fixed"/> <!-- continuous for gazebo -->
  <xacro:mobile_base wheel_joint_type="$(arg wheel_joint_type)"/>
</robot>
