<?xml version="1.0"?>

<!-- This file contains the Gazebo controller interface. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   <xacro:macro name="load_gazebo_ros_control" params="ns:='' "> 
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>${ns}</robotNamespace>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
