<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Name of the robot setup -->
  <arg name="model_setup" default="mobile_base_standalone"/>
  <!-- Give the robot description parameter a name -->
  <arg name="description_name" default="robot_description"/>
  <!-- Set path of robot description -->
  <arg name="description_file" default="$(find mobile_base_description)/urdf/$(arg model_setup).urdf.xacro"/>
  <!-- TF prefix -->
  <arg name="tf_prefix" default=""/>
  <!-- Joint state topic name -->
  <arg name="joint_states_topic" default="/joint_states"/>
  <!-- Namespace to run the nodes in -->
  <arg name="ns" default="base_tf_publisher"/>
  
  <!-- Load robot description -->
  <include file="$(find mobile_base_description)/launch/load.launch">
    <arg name="description_name" value="$(arg description_name)"/>
    <arg name="description_file" value="$(arg description_file)"/>
    <arg name="wheel_joint_type" value="fixed"/>
  </include>

  <!-- Open joint_state_publisher for smb_description with GUI for debugging -->
  <node name="base_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
    <param name="rate"              value="100"/>
    <remap from="robot_description" to="$(arg description_name)"/>
    <remap from="joint_states"      to="$(arg joint_states_topic)"/>
  </node>

  <!-- Publish robot state (joints) as TF -->
  <node ns="$(arg ns)" name="base_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="100"/>
    <param name="use_tf_static"     value="true"/>
    <param name="tf_prefix"         value="$(arg tf_prefix)"/>
    <remap from="robot_description" to="$(arg description_name)"/>
    <remap from="joint_states"      to="$(arg joint_states_topic)"/>
  </node>

  <!-- Open Rviz -->
  <node name="rviz" pkg="rviz" type="rviz"
  args="-d $(find mobile_base_description)/rviz/config.rviz"
  output="screen"/>

</launch>
