<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- GAZEBO ARGUMENTS -->
  <!-- Run Gazebo headless -->
  <arg name="headless"                              default="false"/>
  <!-- Model path -->
  <arg name="model_path"                            default="$(find gazebo_worlds)/.."/>
  <!-- Name of the world -->
  <arg name="world"                                 default="empty"/>
  <!-- Path to the world file -->
  <arg name="world_file"                            default="$(find gazebo_worlds)/worlds/$(arg world).world"/>
  <!-- Set the name of the Gazebo config file -->
  <arg name="config_file"                           default="default"/>
  <!-- Set true to fix the robot's main body -->
  <arg name="fixed"                                 default="false"/>
  <!-- Set the initial pose of the robot's main body -->
  <arg name="x"                                     default="0.0"/>
  <arg name="y"                                     default="0.0"/>
  <arg name="z"                                     default="0.4"/>
  <arg name="roll"                                  default="0.0"/>
  <arg name="pitch"                                 default="0.0"/>
  <arg name="yaw"                                   default="0.0"/>
  <!-- Start paused -->
  <arg name="paused"                                default="false"/>
  <!-- Use simulation clock -->
  <arg name="use_sim_time"                          default="true"/>
  <!-- Debug mode -->
  <arg name="debug"                                 default="false"/>
  <!-- Verbose mode -->
  <arg name="verbose"                               default="false"/>
  <!-- Load and draw meshes -->
  <arg name="mesh"                                  default="true"/>
  
  <!-- GUI ARGUMENTS -->
  <!-- Enable/disable Gazebo GUI -->
  <arg name="run_gui"                               default="true"/>
  
  <!-- ROBOT ARGUMENTS -->
  <!-- Name of the robot description parameter -->
  <arg name="robot_name"                  default="mobile_base"/>
  <!-- Path of robot description -->
  <arg name="description_file"            default="$(find mobile_base_description)/urdf/mobile_base_standalone.urdf.xacro"/>

  <!-- Load Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <env name="GAZEBO_MODEL_PATH" value="$(arg model_path)"/>
    <arg name="world_name"        value="$(arg world_file)"/>
    <arg name="paused"            value="$(arg paused)"/>
    <arg name="use_sim_time"      value="$(arg use_sim_time)"/>
    <arg name="gui"               value="$(arg run_gui)"/>
    <arg name="headless"          value="$(arg headless)"/>
    <arg name="debug"             value="$(arg debug)"/>
    <arg name="verbose"           value="$(arg verbose)"/>
  </include>

  <!-- Load robot description for gazebo -->
  <include file="$(find mobile_base_description)/launch/load.launch">
    <arg name="robot_name"        value="$(arg robot_name)"/>
    <arg name="description_file"  value="$(arg description_file)"/>
    <arg name="wheel_joint_type"  value="continuous"/>
    <arg name="simulation"        value="true"/> 
  </include>

  <!-- Spawn robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param $(arg robot_name)/robot_description -urdf -model mobile_base -x $(arg x)
      -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"
    output="screen"/>
</launch>
